nav {
    background-color: #2cc0dd;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12px;
}

ul li {
    /* background-color: mediumseagreen; */
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 10px;
}

ul li a.active {
    /* background-color: chocolate; */
    color: yellowgreen;
}